$text: #000;
$text-black: #0c1415;
$text-grey: #444545;
$text-grey-btn: #535858;
$text-grey-light: #aeadad;
$text-grey-title: #e8e7e7;
$text-grey-review: #424e4f;
$grey: #494949;
$grey-light: #3c4546;
$grey-timer: #454545;
$grey-banner: #888888;
$main: #ff482a;
$blue: #65c1d6;
$bg-grey: #f5f5f5;
$bg-grey2: #ecebeb;
$bg-grey3: #eeeeee;
$bg-grey-border: #dfdfdf;
$bg-grey-title: #ebebeb;
$bg-grey-contact: #dbdbdb;
$bg-grey-social: #cccccc;
$bg-grey-social-text: #9f9f9f;
$bg-grey-icon: #cdcdcd;
$bg-black: #0d1617;
$bg-black-shadow: #0d1517;
$orange: #ffbe61;
$orange-btn: #ffbe61;
$orange-btn2: #ff711c;
$text-white: #000;
$yellow: #ffad39;
$gold: #f0ab08;
$gold-text: #f8b107;
$green-template: #57d68d;
