$text: #000;
$text-black: #0c1415;
$text-grey: #444545;
$text-grey-btn: #535858;
$text-grey-light: #aeadad;
$text-grey-title: #e8e7e7;
$text-grey-review: #424e4f;
$text-grey-advantages: #6f7475;
$grey: #494949;
$grey-light: #3c4546;
$grey-timer: #454545;
$grey-banner: #888888;
$main: #ff482a;
$red-text: #f02525;
$blue: #65c1d6;
$bg-grey: #f5f5f5;
$bg-grey2: #ecebeb;
$bg-grey3: #eeeeee;
$bg-grey-border: #dfdfdf;
$bg-grey-title: #ebebeb;
$bg-grey-contact: #dbdbdb;
$bg-grey-social: #cccccc;
$bg-grey-social-text: #9f9f9f;
$bg-grey-icon: #cdcdcd;
$bg-grey-time: #f2f1f1;
$bg-grey-time-border: #4a4a4a;
$bg-grey-timer-item: #323a39;
$bg-grey-timer-item-text: #adadad;
$bg-black: #0d1617;
$bg-black-shadow: #0d1517;
$text-white: #000;
$orange: #ffbe61;
$orange-btn: #ffbe61;
$orange-btn2: #ff711c;
$yellow: #ffad39;
$yellow-text: #ffc02a;
$gold: #f0ab08;
$gold-text: #f8b107;
$gold-time: #ffc066;
$green-template: #57d68d;
$blue-template: #3498db;
$yellow-template: #f1c40f;
$text-purple: #8141d1;
